@import url(../styles/reset.css);
@import url(../styles/icons.css);
header {
    background-color: transparent;
    position: fixed;
    width: 100%;
    padding-top: 1%;
    z-index: 1;
    -webkit-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
}
.animate{
    background-color:#2ECC71;
    opacity: 0.95;
}
#header .container .row {
    padding: 2% 0; /*Я ж просил никогда не писать стили на классы бутстрапа!*/
}
.bars-style {
    font-size: 1.5em;
    color: #FFF;
}
.menu__item {
    padding: 0 5px;
}
.menu__item a {
    color: #FFF;
    font-size: 22px;
    text-decoration: none;
}
.menu__item a:hover {
    color: #FCE38A;
}
.indent {
    padding-right:0;
    padding-left:0;
    margin-right: 0;
    margin-left: 0;
}
.video {
    background: url(../img/rocks.jpg) no-repeat;
    background-size: cover;
    width: 100%;
}
.video-play {
    width: 100%;
    height: auto;
}
.sixteen-nine {
    position: relative;
}
.sixteen-nine:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%;
}
.sixteen-nine > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.video-title {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}
.video-headline {
    font-weight: 700;
    padding-bottom: 10%;
}
.video-headline span {
    display: block;
}
.video-title a {
    margin: 0 auto;
    text-decoration: none;
}
.video-title a:link, .video-title a:visited {
    color: #FFF;
}
.video-title span {
    padding-top: 1%;
}
.explore-link {
    position: relative;
    margin: 0 auto;
}
.explore-button {
    font-size: 1.5em;
    color: #FFF;
    border-radius: 100%;
    background-color: #2ECC71;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
}
.explore-link:after {
    content: "";
    border-top: 1px solid #808080;
    display: block;
    position: absolute;
    top: 50%;
    left: 100%;
    padding-right: calc(50vw - 35px);
}
.explore-link:before {
    content: "";
    border-top: 1px solid #808080;
    display: block;
    position: absolute;
    top: 50%;
    right: 100%;
    padding-left: calc(50vw - 25px);/*1. Тут же стиля на обе линии практически идентичны. Можна ж через запятую все прописать. 2. Почему отступы разные?*/
}
#about {
    background-color: #34495E;
    position: relative;
    padding-bottom: 5%;
}
.about-headline {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    padding: 10% 0 5%;
}
.about-text {
    font-size: 24px;
    line-height: 1.4;
    padding-bottom: 10%;
}
.services-item {
    width: 120px;
    height: 120px;
    margin: 0 auto;
}
.service-icon {
    font-size: 4em;
    border: 5px solid #FFF;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;/*в бутстрапе есть для этого класс*/
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;/*в бутстрапе есть для этого класс*/
    padding: 15px;
}
.services-headline {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;/*А в 1 строчку нельзя прописать шрифт?*/
    padding: 10% 0 5%;
}
.services-text {
    padding-bottom: 10%;
}
#portfolio {
    padding-bottom: 5%;
}
.hide {
    display: none; /*в бутстрапе есть для этого класс*/
}
.portfolio-headline {
    font-size: 45px;
    color: #2C3E50;
    font-weight: 700;
    padding: 10% 0 5%;
}
.portfolio-list {
    padding-bottom: 10%;
}
.portfolio-list-item {
    font-size: 30px;
    color: #2C3E50;
    border: none;
    background-color: #FFF;
    border-radius: 10px;
    padding: 5px 10px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.portfolio-list-item:hover {
    color: #FFF;
    border-radius: 10px;
    background-color: #2ECC71;
}
.portfolio-list-item.selected {
    color: #FFF;
    border-radius: 10px;
    background-color: #2ECC71;
}
.portfolio-photo-item {
    margin: 20px 10px;
}
.portfolio-photo-item img {
    border: solid 9px #fff;
    outline: solid 1px #E9E9E9;
    position: relative;
}
.portfolio-holder {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #3E5266;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-transition-duration: 0.96s;
    -o-transition-duration: 0.96s;
    transition-duration: 0.96s;
    opacity: 0;
}
.portfolio-holder h3 {
    padding-bottom: 10%;
}
.btn {
    font-size: 12px;
    color: #FFF;
    padding: 10px 15px;
    border: 1px solid #FFF;
    border-radius: 30px;
    margin: 0 auto;/*в бутстрапе есть для этого класс*/
    -webkit-transition: background, color 0.3s linear;
    -o-transition: background, color 0.3s linear;
    transition: background, color 0.3s linear;
}
.btn:hover {
    color: #3E5266;
    background-color: #FFF;
}
.portfolio-photo-item:hover .portfolio-holder {
    opacity: 0.9;
}
#team {
    padding: 10% 0 10%; /*10% 0*/
    background-color: #2980B9;
}
.team-headline {
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 10%;
}
.team-profile {
    padding-top: 5%;
}
.profile-headline {
    font-size: 26px;
    font-weight: 700;
    line-height: 4;
}
.Cosmo-Kramer:before {
    content: "";
    width: 230px;
    height: 230px;
    background: url("../img/cosmo_kramer.png") no-repeat center / cover; /*фото человека точно заслуживает возможности скачивания*/
    border: 4px solid #FFF;
    border-radius: 100%;
    display: block;
    padding: 10px;
    margin: 0 auto;
}
.George-Constansa:before {
    content: "";
    width: 230px;
    height: 230px;
    background: url("../img/george_constanza.png") no-repeat center / cover;
    border: 4px solid #FFF;
    border-radius: 100%;
    display: block;
    padding: 10px;
    margin: 0 auto;
}
.profile-icons {
    font-size: 2em; /*Единые единицы измерения для шрифтов. Либо пиксели либо ем*/
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px;
    margin: 15px;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.profile-icons:hover {
    color: #2980B9;
    background-color: #FFF;
}
#contact {
    padding: 10% 0 10%;
}
.contact-headline {
    font-size: 45px;
    font-weight: 700;
    color: #2C3E50;
}
.contact-text {
    font-size: 26px;
    font-weight: 700;
    color: #2C3E50;
}
input::-webkit-input-placeholder {
    color: #2C3E50;
}
input::-moz-placeholder {
    color: #2C3E50;
}
input:-ms-input-placeholder {
    color: #2C3E50;
}
input::-ms-input-placeholder {
    color: #2C3E50;
}
input::placeholder {
    color: #2C3E50;
}
textarea::-webkit-input-placeholder {
    color: #2C3E50;
}
textarea::-moz-placeholder {
    color: #2C3E50;
}
textarea:-ms-input-placeholder {
    color: #2C3E50;
}
textarea::-ms-input-placeholder {
    color: #2C3E50;
}
textarea::placeholder {
    color: #2C3E50;
}
.contact-input-style {
    width: 100%;
    line-height: 1.5;
    border: none;
    border-bottom: 2px solid #2ECC71;
    margin-top: 45px;
}
.contact-input li textarea {
    padding-bottom: 50px;
}
.form-button {
    color: #FFF;
    padding: 15px 30px;
    background-color: #2ECC71;
    border-radius: 30px;
    margin-top: 45px;
    border: 1px solid #FFF;
}
.form-button:hover {
    color: #2ECC71;
    background-color: #FFF;
    border: 1px solid #2ECC71;
}
.span-block {
    display: block;
}
.address-headline {
    font-size: 16px;
    font-style: normal;
    color: #2C3E50;
    font-weight: bold;
    line-height: 2;
    margin-top: 45px;
}
.address-title {
    font-size: 20px;
    font-style: normal;
    color: #2C3E50;
    line-height: 1.6;
    text-align: left;
}
.footer-background {
    background-color: #2C3E50;
    padding-top: 5%;
}

li.footer-list a {
    font-size: 16px;
    color: #FFF;
    font-weight: 700;
    line-height: 1.6;
    font-style: normal;
}
.footer-list  {
    font-size: 16px;
    color: #FFF;
    font-weight: 700;
    line-height: 1.6;
    font-style: normal;
}
@media (min-width: 1500px) {
    .video-headline {font-size: 70px;}
    .menu__item a {font-size: 20px;}
}
@media (max-width: 1500px) {
    .video-headline {font-size: 45px;}
    .menu__item a {font-size: 20px;}
    .portfolio-headline, .team-headline, .about-headline, .contact-headline {font-size: 30px;}
}
@media (max-width: 1200px) {
    .video-headline {font-size: 30px;}
    .menu__item a {font-size: 15px;}
    .explore-button {padding: 5px; font-size: 1em;}
    .explore-link:after {padding-right: calc(50vw - 25px);}
    .explore-link:before {padding-left: calc(50vw - 25px);}
    .about-text, .contact-text {font-size: 20px;}
    .services-headline, .profile-headline, .portfolio-list-item, .contact-headline {font-size: 20px;}
    .services-text, .profile-text, .footer-list {font-size: 15px;}
}
@media (max-width: 992px) {
    .about-text {font-size: 20px; text-align: center}
    .portfolio-list-item {font-size: 15px;}
}
@media (max-width: 768px) {
    .video-headline {font-size: 20px;}
    .about-headline, .portfolio-headline, .team-headline, .contact-headline {font-size: 20px;}
    .menu__item a, .explore-title {font-size: 12px;}
    .about-text, .services-text, .contact-text {font-size: 15px; text-align: justify;}
    .form-button {width: 100%;}
    .logo {margin: 0 auto;}
}
@media (max-width: 475px) { /*От меньщего к большему*/
    .profile-headline {font-size: 15px;}
    .menu__item a, .explore-title {font-size: 12px;}
    .video-title {top: 60%;}
    .video-headline {display: none;}
    .portfolio-list {-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column; text-align: center;}
    .Cosmo-Kramer:before, .George-Constansa:before {width: 130px; height: 130px;}
    .video-play {display: none;}
}





